doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    script(defer, src="/socket.io/socket.io.js") 
    script(defer, src="../public/js/app.js") 
  body 
    header
      h1 Noom
    main
      #name
        form
          label(for="nickname") Nickname
          input#nickname(
            type="text",
            required="required",
            placeholder="nick name",
            name="nickname"
          )
          button(type="submit") Join
      #welcome
        form
          label(for="roomInp") Room
          input#roomInp(
            type="text",
            required="required",
            placeholder="room name",
            name="room"
          )
          button(type="submit") Join
      h4 Open rooms
      ul
      #room
        h3
        ul
        form
          label(for="message") Message
          input#message(
            type="text",
            required="required",
            placeholder="message",
            name="message"
          )
          button(type="submit") Send
